footer {
  border-top: 1px solid darkslateblue;
  text-align: center;
  padding-top: 1rem;
}

.CopyrightText {
  justify-self: center;
}

@media (max-width: 576px) {
  .header .logo{
    padding-top: 2rem;
  }
  .header p {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
